:host {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--espaco-6);
}

.esqueleto {
  display: grid;
  gap: var(--espaco-4);

  span {
    height: 72px;
    border-radius: var(--raio);
    background: var(--cor-superficie-alta);
  }
}
